  <header>
    <nav class="navbar navbar-custom">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nb-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-img-brand" href="/">
            <img src="static/img/ioos.png" alt="IOOS Catalog" />
          </a>
          <a class="navbar-brand" href="/">
            GliderDAC
          </a>
        </div>
      </div>
    </nav>
  </header>
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <ul class="nav-header nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/help/">Help</a></li>
          <li> <a href="https://github.com/ioos/catalog/wiki/Roadmap">Roadmap</a></li>
          <li> <a href="https://github.com/ioos/catalog/milestones">Milestones</a></li>
          <li> <a href="/help/feedback">Feedback</a></li>
          <li> <a href="/help/download/">Download Help</a></li>
        </ul>
      </div>
    </div>
  </div>
