{% extends "base.html" %}
{% block title %}
<title>Glider DAC Deployment Summary</title>
{% endblock %}
{% block head %}
<link href="static/lib/leaflet/dist/leaflet.css" rel="stylesheet" type="text/css">
<link href="static/app/summary.css" rel="stylesheet" type="text/css">
<script src="static/lib/leaflet/dist/leaflet.js" type="text/javascript"></script>
<script src="static/app/summary_templates.js" type="text/javascript"></script>
<script src="static/app/summary.js" type="text/javascript"></script>
{% endblock %}

{% block body %}
<div id='banner-view'>
</div>
<div id="page-content">
  <div id="map-view">
  </div>
</div>
<script type="text/javascript">
var App = function() {
}

_.extend(App.prototype, Backbone.Events, {
  collections: {
    deployments: new DeploymentCollection(),
    selected: new DeploymentCollection(),
    institutions: new InstitutionCollection()
  },
  views: {
    mapView: new MapView({el: $('#map-view')}),
    bannerView: new IOOSBannerView({el: $('#banner-view')}).render(),
    sidePanelView: null
  },
  models: {
    navoGlider: new NAVOGliderModel()
  },
  start: function() {
    var self = this;
    /* Collections */

    /* Models */

    /* Views */
    /*
    this.views.sidePanelView = new SidePanelView({
      el: $('#side-panel-view'),
      institutions: this.collections.institutions
    });
    this.views.sidePanelView.render();
    */

    /* Fetch */
    var deploymentFetch = this.collections.deployments.fetch({reset:true});
    var navoFetch = this.models.navoGlider.fetch();

    $.when(navoFetch).done(function() {
      var feature = self.models.navoGlider.get('feature');
      feature.properties.popupContent = "navo/ng292";
      self.views.mapView.addTrajectory(feature);
    });

    /*
    this.listenTo(this.views.sidePanelView, 'onSelect', function(selection) {
      if(selection === 'All Providers') {
        self.collections.selected.reset(self.collections.deployments.models);
      } else {
        self.collections.selected.reset(self.collections.deployments.where({operator: selection}));
      }
      self.views.mapView.clear();
    });
    */

    this.listenTo(this.collections.deployments, 'reset', function(collection) {
      var operators = _.uniq(collection.pluck('operator'));
      _.each(operators, function(operator) {
        var institution = new InstitutionModel({name: operator});
        self.collections.institutions.add(institution);
      });
      //self.views.sidePanelView.render();
      collection.each(function(model) {
        model.fetchGeoJSON();
        self.listenTo(model, 'deployment:geojson', function(model) {
          try {
            var geo_json = model.get('geo_json');
            geo_json.properties = {popupContent: model.get('deployment_dir')};
            self.views.mapView.addTrajectory(geo_json);
            //self.views.sidePanelView.add(model);
          } catch(err) {
            console.error(err);
            //console.error("Invalid coordinates on " + model.get('deployment_dir'));
          }
        });
      });
    });
  }
});

var app = new App();

$(document).ready(function(){
  app.start();
  $('#sidebar-toggle').click(function(event) {
    $('#map-view').toggleClass('toggled');
    $('#map_sidebar').toggleClass('toggled');
    $('#sidebar-toggle').toggleClass('toggled');
    app.trigger('app:toggle');
  });
});
   

</script>
{% endblock %}
